<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EXUpdatesAutoSetup</key>
	<true/>
	<key>EXUpdatesCheckOnLaunch</key>
	<string>ALWAYS</string>
	<key>EXUpdatesEnabled</key>
	<true/>
	<key>EXUpdatesLaunchWaitMs</key>
	<integer>0</integer>
	<key>EXUpdatesRequestHeaders</key>
	<dict>
		<key>expo-channel-name</key>
		<string>preview</string>
	</dict>
	<key>EXUpdatesReleaseChannel</key>
	<string>preview</string>
	<key>EXUpdatesRuntimeVersion</key>
	<string>exposdk:45.0.0</string>
	<key>EXUpdatesURL</key>
	<string>https://u.expo.dev/4a367227-931b-4396-a643-be56f95a0859</string>
</dict>
</plist>
